BOT_TOKEN=0123456789:TokEntOkenToKeN                   # токен телеграм бота
TG_ADMIN_ID=987654321                                  # айди админа этого сервиса в телеграм (для взаимодействия с ботом)

DB_URL=sqlite+aiosqlite:///src/database/autoraise.db  # URL базы данных SQLite

RESUME_CHECK_FREQUENCY=5                               # Частота проверки возможности поднятия резюме в минутах
