# Добавляем в .gitignore ВСЕ
*

!config.d/
!config.d/config.yml_example

!.gitignore
!requirements.txt
!Dockerfile
!docker-compose.yml_example
!README.md
!.env_example

!src/
!src/database/

# Всегда должно быть в конце
!src/**/*.py
